<head>
    <script src="../models/car.js"></script>
    <script src="../models/wheel.js"></script>
    <script src="../controllers/controller.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</head>

<body>

    <div class="container">
        <h1>Exercici Vehicles</h1>

        <form id="myFormCar" name="myFormCar">
            <div class="form-row">
                <div class="col-md-4">
                    <label for="inputPlate">Matrícula</label>
                    <input type="text" class="form-control" id="inputPlate" placeholder="Matrícula">
                    <div class="invalid-feedback" id="error_plate"></div>
                </div>
                <div class="col-md-4">
                    <label for="inputBrand">Marca</label>
                    <input type="text" class="form-control" id="inputBrand" placeholder="Marca">
                    <div class="invalid-feedback" id="error_brand"></div>
                </div>
                <div class="col-md-4">
                    <label for="inputColor">Color</label>
                    <input type="text" class="form-control" id="inputColor" placeholder="Color">
                    <div class="invalid-feedback" id="error_color"></div>
                </div>
            </div>

            <div class="form-group mt-3">
                <button type="button" class="btn btn-primary" onclick="createCar()">Crear cotxe</button>
            </div>
        </form>

        <form class="d-none" id="myFormWheels" name="myFormWheels">
            <div class="form-row">
                <div class="col-md-3 pt-2">
                    <label for="inputWheelBrand1">Marca roda 1</label>
                    <input type="text" class="form-control" id="inputWheelBrand1" placeholder="Marca roda 1">
                </div>
                <div class="col-md-3 pt-2">
                    <label for="inputWheelDiam1">Diàmetre roda 1</label>
                    <input type="text" class="form-control" id="inputWheelDiam1" placeholder="Diámetro roda 1">
                    <div class="invalid-feedback" id="error_wheel1"></div>
                </div>
                <div class="col-md-3 pt-2">
                    <label for="inputWheelBrand2">Marca roda 2</label>
                    <input type="text" class="form-control" id="inputWheelBrand2" placeholder="Marca roda 2">
                </div>
                <div class="col-md-3 pt-2">
                    <label for="inputWheelDiam2">Diàmetre roda 2</label>
                    <input type="text" class="form-control" id="inputWheelDiam2" placeholder="Diámetro roda 2">
                    <div class="invalid-feedback" id="error_wheel2"></div>
                </div>
                <div class="col-md-3 pt-2">
                    <label for="inputWheelBrand3">Marca roda 3</label>
                    <input type="text" class="form-control" id="inputWheelBrand3" placeholder="Marca roda 3">
                </div>
                <div class="col-md-3 pt-2">
                    <label for="inputWheelDiam3">Diàmetre roda 3</label>
                    <input type="text" class="form-control" id="inputWheelDiam3" placeholder="Diámetro roda 3">
                    <div class="invalid-feedback" id="error_wheel3"></div>
                </div>
                <div class="col-md-3 pt-2">
                    <label for="inputWheelBrand4">Marca roda 4</label>
                    <input type="text" class="form-control" id="inputWheelBrand4" placeholder="Marca roda 4">
                </div>
                <div class="col-md-3 pt-2">
                    <label for="inputWheelDiam4">Diàmetre roda 4</label>
                    <input type="text" class="form-control" id="inputWheelDiam4" placeholder="Diámetro roda 4">
                    <div class="invalid-feedback" id="error_wheel4"></div>
                </div>
            </div>

            <div class="form-group mt-3">
                <button type="button" class="btn btn-primary" onclick="addWheels()">Afegir rodes</button>
            </div>
        </form>

        <p id="carInfo"></p>

        <div class="row" id="outputCarDiv">
            <div class="col-md-12" id="outputCar"></div>
            <div class="col-md-4" id="outputPlate"></div>
            <div class="col-md-4" id="outputBrand"></div>
            <div class="col-md-4" id="outputColor"></div>
        </div>
        <br>
        <div class="row" id="outputWheelsDiv">
            <div class="col-md-12" id="outputWheels"></div>
            <div class="col-md-3" id="outputWheelBrand1"></div>
            <div class="col-md-3" id="outputWheelBrand2"></div>
            <div class="col-md-3" id="outputWheelBrand3"></div>
            <div class="col-md-3" id="outputWheelBrand4"></div>
        </div>

    </div>


</body>